In [3]:
import numpy as np
import pandas as pd

In [4]:
file_path = '/content/sales_data.csv'
df = pd.read_csv(file_path, encoding='ascii', delimiter=',')

In [5]:
# Display the first few rows of the dataframe
print('Dataset Loaded Successfully. Here are the first five rows:')
print(df.head())

Dataset Loaded Successfully. Here are the first five rows:
   Product_ID   Sale_Date Sales_Rep Region  Sales_Amount  Quantity_Sold  \
0        1052  2023-02-03       Bob  North       5053.97             18
1        1093  2023-04-21       Bob   West       4384.02             17
2        1015  2023-09-21     David  South       4631.23             30
3        1072  2023-08-24       Bob  South       2167.94             39
4        1061  2023-03-24   Charlie   East       3750.20             13

  Product_Category  Unit_Cost  Unit_Price Customer_Type  Discount  \
0        Furniture     152.75      267.22     Returning      0.09
1        Furniture    3816.39     4209.44     Returning      0.11
2             Food     261.56      371.40     Returning      0.20
3         Clothing    4330.03     4467.75           New      0.02
4      Electronics     637.37      692.71           New      0.08

  Payment_Method Sales_Channel Region_and_Sales_Rep
0           Cash        Online            North-Bob
1           Cash        Retail             West-Bob
2  Bank Transfer        Retail          South-David
3    Credit Card        Retail            South-Bob
4    Credit Card        Online         East-Charlie

In [6]:
df.tail()

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel,Region_and_Sales_Rep
995,1010,2023-04-15,Charlie,North,4733.88,4,Food,4943.03,5442.15,Returning,0.29,Cash,Online,North-Charlie
996,1067,2023-09-07,Bob,North,4716.36,37,Clothing,1754.32,1856.40,New,0.21,Bank Transfer,Retail,North-Bob
997,1018,2023-04-27,David,South,7629.70,17,Clothing,355.72,438.27,Returning,0.06,Bank Transfer,Online,South-David
998,1100,2023-12-20,David,West,1629.47,39,Electronics,3685.03,3743.39,New,0.01,Bank Transfer,Online,West-David
999,1086,2023-08-16,Alice,East,4923.93,48,Food,2632.58,2926.68,Returning,0.14,Cash,Online,East-Alice

In [13]:
df.describe()

,Product_ID,Sale_Date,Sales_Amount,Quantity_Sold,Unit_Cost,Unit_Price,Discount
count,1000.000000,1000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,1050.128000,2023-07-02 17:42:43.199999744,5019.265230,25.355000,2475.304550,2728.440120,0.15239
min,1001.000000,2023-01-01 00:00:00,100.120000,1.000000,60.280000,167.120000,0.00000
25%,1024.000000,2023-03-30 00:00:00,2550.297500,13.000000,1238.380000,1509.085000,0.08000
50%,1051.000000,2023-06-30 12:00:00,5019.300000,25.000000,2467.235000,2696.400000,0.15000
75%,1075.000000,2023-10-12 00:00:00,7507.445000,38.000000,3702.865000,3957.970000,0.23000
max,1100.000000,2024-01-01 00:00:00,9989.040000,49.000000,4995.300000,5442.150000,0.30000
std,29.573505,NaN,2846.790126,14.159006,1417.872546,1419.399839,0.08720

In [7]:
# Check the datatypes and summary
print('\nDataframe Information:')
print(df.info())

Dataframe Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Product_ID            1000 non-null   int64
 1   Sale_Date             1000 non-null   object
 2   Sales_Rep             1000 non-null   object
 3   Region                1000 non-null   object
 4   Sales_Amount          1000 non-null   float64
 5   Quantity_Sold         1000 non-null   int64
 6   Product_Category      1000 non-null   object
 7   Unit_Cost             1000 non-null   float64
 8   Unit_Price            1000 non-null   float64
 9   Customer_Type         1000 non-null   object
 10  Discount              1000 non-null   float64
 11  Payment_Method        1000 non-null   object
 12  Sales_Channel         1000 non-null   object
 13  Region_and_Sales_Rep  1000 non-null   object
dtypes: float64(4), int64(2), object(8)
memory usage: 109.5+ KB
None

In [8]:
# Convert 'Sale_Date' to datetime. If you encounter errors, it may relate to incorrect date formats.
try:
    df['Sale_Date'] = pd.to_datetime(df['Sale_Date'])
    print('Successfully converted Sale_Date to datetime.')
except Exception as e:
    print(f'Error converting Sale_Date: {e}')

Successfully converted Sale_Date to datetime.

In [11]:
df.shape

(1000, 14)

In [9]:
# Check for missing values and print the summary
print('\nMissing values in each column:')
print(df.isnull().sum())

# If missing values are present, a typical approach is to fill or drop them. Here we demonstrate a simple fill-forward method for demonstration purposes.
df.fillna(method='ffill', inplace=True)

Missing values in each column:
Product_ID              0
Sale_Date               0
Sales_Rep               0
Region                  0
Sales_Amount            0
Quantity_Sold           0
Product_Category        0
Unit_Cost               0
Unit_Price              0
Customer_Type           0
Discount                0
Payment_Method          0
Sales_Channel           0
Region_and_Sales_Rep    0
dtype: int64

/tmp/ipython-input-3761957511.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)

In [14]:
df['Sale_Date'] = pd.to_datetime(df['Sale_Date'], errors='coerce')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Product_ID            1000 non-null   int64
 1   Sale_Date             1000 non-null   datetime64[ns]
 2   Sales_Rep             1000 non-null   object
 3   Region                1000 non-null   object
 4   Sales_Amount          1000 non-null   float64
 5   Quantity_Sold         1000 non-null   int64
 6   Product_Category      1000 non-null   object
 7   Unit_Cost             1000 non-null   float64
 8   Unit_Price            1000 non-null   float64
 9   Customer_Type         1000 non-null   object
 10  Discount              1000 non-null   float64
 11  Payment_Method        1000 non-null   object
 12  Sales_Channel         1000 non-null   object
 13  Region_and_Sales_Rep  1000 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(7)
memory usage: 109.5+ KB

In [17]:
#Standardize categorical columns (example)
df['Payment_Method'] = df['Payment_Method'].str.lower().str.strip()
df['Product_Category'] = df['Product_Category'].str.title().str.strip()

In [19]:
#Outlier detection (optional, here: set negative SalesAmount/QuantitySold to NaN)
df.loc[df['Sales_Amount'] < 0, 'Sales_Amount'] = pd.NA
df.loc[df['Quantity_Sold'] < 0, 'Quantity_Sold'] = pd.NA

In [20]:
# Review cleaned data
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Product_ID            1000 non-null   int64
 1   Sale_Date             1000 non-null   datetime64[ns]
 2   Sales_Rep             1000 non-null   object
 3   Region                1000 non-null   object
 4   Sales_Amount          1000 non-null   float64
 5   Quantity_Sold         1000 non-null   float64
 6   Product_Category      1000 non-null   object
 7   Unit_Cost             1000 non-null   float64
 8   Unit_Price            1000 non-null   float64
 9   Customer_Type         1000 non-null   object
 10  Discount              1000 non-null   float64
 11  Payment_Method        1000 non-null   object
 12  Sales_Channel         1000 non-null   object
 13  Region_and_Sales_Rep  1000 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(1), object(7)
memory usage: 109.5+ KB
None
        Product_ID                      Sale_Date  Sales_Amount  \
count  1000.000000                           1000   1000.000000
mean   1050.128000  2023-07-02 17:42:43.199999744   5019.265230
min    1001.000000            2023-01-01 00:00:00    100.120000
25%    1024.000000            2023-03-30 00:00:00   2550.297500
50%    1051.000000            2023-06-30 12:00:00   5019.300000
75%    1075.000000            2023-10-12 00:00:00   7507.445000
max    1100.000000            2024-01-01 00:00:00   9989.040000
std      29.573505                            NaN   2846.790126

       Quantity_Sold    Unit_Cost   Unit_Price    Discount
count    1000.000000  1000.000000  1000.000000  1000.00000
mean       25.355000  2475.304550  2728.440120     0.15239
min         1.000000    60.280000   167.120000     0.00000
25%        13.000000  1238.380000  1509.085000     0.08000
50%        25.000000  2467.235000  2696.400000     0.15000
75%        38.000000  3702.865000  3957.970000     0.23000
max        49.000000  4995.300000  5442.150000     0.30000
std        14.159006  1417.872546  1419.399839     0.08720

In [21]:
df.to_csv('cleaned_sales_data.csv', index=False)